@mixin hands($hand_color , $hand_width , $hand_index) {
    position: absolute;
    height: 50%;
    top:10%;
    border-radius: 50% 50% 0 0;
    transform-origin: center 80%;
    background-color: $hand_color;
    width: $hand-width;
    z-index: $hand_index;
}